@font-face {
  font-family: 'BPGNinoMtavruli-Bold';
  src: url('../../lib/fonts/ninomtavruli/bold/bpgninomtavrulibold.eot');
  src: url('../../lib/fonts/ninomtavruli/bold/bpgninomtavrulibold.eot?#iefix') format('embedded-opentype'),
  url('../../lib/fonts/ninomtavruli/bold/bpgninomtavrulibold.woff') format('woff'),
  url('../../lib/fonts/ninomtavruli/bold/bpgninomtavrulibold.ttf') format('truetype'),
  url('../../lib/fonts/ninomtavruli/bold/bpgninomtavrulibold.svg#BPGNinoMtavruli-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BPGNinoMtavruliRegular';
  src: url('../../lib/fonts/ninomtavruli/regular/bpg_nino_mtavruli_normal.eot');
  src: url('../../lib/fonts/ninomtavruli/regular/bpg_nino_mtavruli_normal.eot') format('embedded-opentype'),
  url('../../lib/fonts/ninomtavruli/regular/bpg_nino_mtavruli_normal.woff2') format('woff2'),
  url('../../lib/fonts/ninomtavruli/regular/bpg_nino_mtavruli_normal.woff') format('woff'),
  url('../../lib/fonts/ninomtavruli/regular/bpg_nino_mtavruli_normal.ttf') format('truetype'),
  url('../../lib/fonts/ninomtavruli/regular/bpg_nino_mtavruli_normal.svg#BPGNinoMtavruliRegular') format('svg');
}
@font-face {
  font-family: 'BPGIngiri2008Regular';
  src: url('../../lib/fonts/ingiri2008/bpg_ingiri_2008.eot');
  src: url('../../lib/fonts/ingiri2008/bpg_ingiri_2008.eot') format('embedded-opentype'),
  url('../../lib/fonts/ingiri2008/bpg_ingiri_2008.woff2') format('woff2'),
  url('../../lib/fonts/ingiri2008/bpg_ingiri_2008.woff') format('woff'),
  url('../../lib/fonts/ingiri2008/bpg_ingiri_2008.ttf') format('truetype'),
  url('../../lib/fonts/ingiri2008/bpg_ingiri_2008.svg#BPGIngiri2008Regular') format('svg');
}
@font-face {
  font-family: 'BPGNinoMediumCapsRegular';
  src: url('../../lib/fonts/ninocaps/bpg_nino_medium_caps.eot');
  src: url('../../lib/fonts/ninocaps/bpg_nino_medium_caps.eot') format('embedded-opentype'),
  url('../../lib/fonts/ninocaps/bpg_nino_medium_caps.woff2') format('woff2'),
  url('../../lib/fonts/ninocaps/bpg_nino_medium_caps.woff') format('woff'),
  url('../../lib/fonts/ninocaps/bpg_nino_medium_caps.ttf') format('truetype'),
  url('../../lib/fonts/ninocaps/bpg_nino_medium_caps.svg#BPGNinoMediumCapsRegular') format('svg');
}
@font-face {
  font-family: 'BPGPaataCapsRegular';
  src: url('../../lib/fonts/paatacaps/bpg_paata_caps.eot');
  src: url('../../lib/fonts/paatacaps/bpg_paata_caps.eot') format('embedded-opentype'),
  url('../../lib/fonts/paatacaps/bpg_paata_caps.woff2') format('woff2'),
  url('../../lib/fonts/paatacaps/bpg_paata_caps.woff') format('woff'),
  url('../../lib/fonts/paatacaps/bpg_paata_caps.ttf') format('truetype'),
  url('../../lib/fonts/paatacaps/bpg_paata_caps.svg#BPGPaataCapsRegular') format('svg');
}

@font-face {
  font-family: 'AcadMtavrRegular';
  src: url('../../lib/fonts/acadmtavr/acadmtavr.eot');
  src: url('../../lib/fonts/acadmtavr/acadmtavr.eot') format('embedded-opentype'),
  url('../../lib/fonts/acadmtavr/acadmtavr.woff2') format('woff2'),
  url('../../lib/fonts/acadmtavr/acadmtavr.woff') format('woff'),
  url('../../lib/fonts/acadmtavr/acadmtavr.ttf') format('truetype'),
  url('../../lib/fonts/acadmtavr/acadmtavr.svg#AcadMtavrRegular') format('svg');
}

@font-face {
  font-family: 'GeoAcadMtavrRegular';
  src: url('../../lib/fonts/geo_acadmtavr/geo_acadmtavr.eot');
  src: url('../../lib/fonts/geo_acadmtavr/geo_acadmtavr.eot') format('embedded-opentype'),
  url('../../lib/fonts/geo_acadmtavr/geo_acadmtavr.woff2') format('woff2'),
  url('../../lib/fonts/geo_acadmtavr/geo_acadmtavr.woff') format('woff'),
  url('../../lib/fonts/geo_acadmtavr/geo_acadmtavr.ttf') format('truetype'),
  url('../../lib/fonts/geo_acadmtavr/geo_acadmtavr.svg#GeoAcadMtavrRegular') format('svg');
}

@font-face {
  font-family: 'GeoGrigoliaMtavrRegular';
  src: url('../../lib/fonts/geo_grigolia_mtavr/geo_grigolia_mtavr.eot');
  src: url('../../lib/fonts/geo_grigolia_mtavr/geo_grigolia_mtavr.eot') format('embedded-opentype'),
  url('../../lib/fonts/geo_grigolia_mtavr/geo_grigolia_mtavr.woff2') format('woff2'),
  url('../../lib/fonts/geo_grigolia_mtavr/geo_grigolia_mtavr.woff') format('woff'),
  url('../../lib/fonts/geo_grigolia_mtavr/geo_grigolia_mtavr.ttf') format('truetype'),
  url('../../lib/fonts/geo_grigolia_mtavr/geo_grigolia_mtavr.svg#GeoGrigoliaMtavrRegular') format('svg');
}


.bpgIngiri{
  font-family: 'BPGIngiri2008Regular';
}
.bpgNino{
  font-family: 'BPGNinoMtavruliRegular';
}
.bpgNinoCaps{
  font-family: 'BPGNinoMediumCapsRegular';
}
.bpgNinoB {
  font-family: 'BPGNinoMtavruli-Bold';
}
.bpPaataCaps{
  font-family: 'BPGPaataCapsRegular';
}
