
.inspection{
  bacgkound:#e7ecea;
}

.inspection a{
  text-decoration:none;
}

.form-control{
  border-radius:0 !important;
  -moz-border-radius:0 !important;
  -webkit-border-radius:0 !important;
  min-height:50px !important;
  -webkit-appearance: none !important;
  position:relative;
  height: 50px;
  padding: 5px 12px 0 12px;
}

.select{
  position:relative;
  max-height:50px;
  font-size:35px;
  top:0;
}

.select:after{
  content:"\e688";
  font-family: 'Pe-icon-7-stroke';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color:#74777b;
  position: absolute; right: 0; top:2%;
  z-index: 1;
  text-align: center;
  pointer-events: none;
  box-sizing: border-box;
}

.inspection .tabs .btn{
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  min-height:50px;
  min-width:120px;
}

.inspection .tabs label{
  font-family:'BPGIngiri2008Regular';
  color:#74777b;
  font-size:15px;
}

.inspection .row{
  text-align:left;
}

.input-icon{
  position:absolute;
  top:50%;
  color:#74777b;
  font-size:30px;
  left:0;
}

.inspection .details .col-sm-6{
  width:32% !important;
}

.inspection .details .col-sm-1{
   width:12.7777777% !important;
}

.upload_images{
  cursor:pointer;
}
.upload_images small{
  font-size:20px;
  display:block;
}
.images_place > div{
  display:block;
  max-width:100%;
  overflow:hidden;
  border:1px solid #e7e7e7;
  margin:15px 0;
  position:relative;
}

.images_place > div span{
  position:absolute;
  top:10px;
  right:10px;
  z-index:9;
  font-size:2.5em;
  color:#eb7260;
  height:50px;
  width:50px;
  text-align:center;
  cursor:pointer;
  transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  border:1px solid #eb6a46;
}

.images_place > div img{
  max-width:800px;
}

.images_place > div span:hover{
  background-color:#eb7260;
  color:#FFF;
}