.top-navigation .navbar-brand{
  background-image:url('/frontend/img/logo.png');
  background-repeat:no-repeat;
  background-size:170px 27px;
  background-position:left top 12px;
  width:230px;
  height:70px;
  display:block;
  position:relative
}

.top-navigation .navbar-default{
  background-color:#58595b;
  height:70px;
}
.top-navigation .navbar-nav>li>a{
  padding-top:25px;
  padding-bottom:23px;
}

.top-navigation .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
  margin-left:40px;
  width:400px;
}
.top-navigation .navbar-brand div{
  font-weight:300;
  font-size:15px;
  color:#A9A9A9;
  position:absolute;
  bottom:10px;
  left:0;
}

.top-navigation .navbar-default .navbar-nav>li>a{
  color:#FFF;
  font-size:18px;
  font-weight:300;
}

.top-navigation .navbar-default .navbar-nav>li.active > a{
  color:#555;
}

.footer{
  position:fixed;
  bottom:0;
  width:100%;
  background-color:#58595b;
  padding:20px;
}

.footer .footer-place{
  text-align:center;
  color:#FFF;
}

.login{
  margin:10% auto;
  width:400px;
}

.input{
  width:100%;
  padding:16px;
  font-size:18px;
  margin:15px 0;
}

.login-btn{
  width:100%;
  padding:16px;
  font-size:18px;
  margin:15px 0;
  color:#58595B;
  background:#C0C0C0;
  border:none;
}

.login .alert{
  padding-left:40px;
}

@media screen and (max-width:450px){
  .top-navigation .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    max-width:210px !important;
  }
}

.front-pagination{
  text-align:right;
}

.front-pagination .pagination > li{
  margin:0 5px;
}
.front-pagination .pagination > li.disabled span{
  border:none;
  border-radius:0;
  margin:2px;
}

.front-pagination .pagination > li > a{
  background-color:#a8aeb3;
  color:#ececec;
  border:none;
  border-radius:0;
  margin:2px;
}

.front-pagination .pagination .active span{
  background-color:#dde0e2;
  color:#a8aeb3;
  border:none;
  border-radius:0;
  margin:2px;
}