.products .form-control{
  border-radius:0 !important;
  -moz-border-radius:0 !important;
  -webkit-border-radius:0 !important;
  border:1px solid #D8D8D8;
  outline:none;
  width:100%;
  margin:8px 0;
  height:42px;
  box-shadow:none;
}

.products .form-control:active,.products .form-control:focus,button:focus,button:active,ul:focus,ul:active,li:focus,li:active,div:focus,div:active,div,a,a:focus,a:active,ul,li,input{
  outline:none !important;
  -webkit-box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}

.search-btn{
  background-color:#D6D6D6;
  border:none;
  height:42px;
  line-height:42px;
  margin:8px 0;
  padding:0 15px;
}

.product{
  border:1px solid #DEDEDE;
  background:#F5F5F5;
  padding:15px 5px;
  margin:20px 0;
}

.product .product-title{
  font-size:36px;
  color:#424242;
  text-transform:capitalize;
}

.product .col-sm-4{
  width:30%;
}

.product .product-details{
  margin-top:30px;
}

.product .key{
  color:#767676;
  font-size:18px;
}

.product .value{
  color:#2E2E2E;
  font-size:18px;
}


.product-play{
  width: 120px;
  height: 120px;
  border: 1px solid #C0C0C0;
  background-color: #CACACA;
  border-radius: 3px;
  cursor: pointer;
  text-align:center;
}

.product-play i{
  font-size:60px;
  line-height:120px;
  color:#555;
}

.download{
  text-align: center;
  width: 120px;
  text-transform: capitalize;
  padding: 10px;
  background: #CACACA;
  color: #424242;
  border-radius: 3px;
  margin-top: 5px;
}

.download a{
  color: #424242;
}

.product-text{
  margin-top:10px;
  font-size:15px;
  color:#2E2E2E;
}

.btn-selection{
  margin-top: 20px;
  height: 50px;
  background-color: #424242;
  border: 1px solid #696969;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  width:300px;
}

#note{
  height:120px;
}